*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background:#081c15;
    color: #fff;

}

.container{
    width:min(1200px, 92%);
    margin:50px auto;
}

.hero{
    text-align:center;
    margin-bottom:35px;
}

.hero h1{
    font-size: 42px;
    margin-bottom: 12px;
}

.hero p{
    color: #9ca3af;
    max-width: 650px;
    margin: auto;
    line-height: 1.7;
}

.card{
    background: #1c433c;
    border:1px solid #1e4140;
    border-radius: 18px;
    padding: 25px;
    margin-top: 25px;
}

.drop-area{
    border: 2px dashed #3bf6ab;
    border-radius: 18px;
    padding: 60px 20px;
    text-align: center;
    transition:.3s;
    cursor: pointer;
}

.drop-area:hover{
    background: #175442;
}

.upload-icon{
    font-size: 60px;
    margin-bottom: 15px;
}
.drop-area h2{
    margin-bottom: 10px;
}
.drop-area p{
    color: #9cafaf;
    margin: 12px 0;
}

#browseBtn{
    background:#25eba2;
    color:white;
    border:none;
    padding:14px 28px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

#browseBtn:hover{
    background:#1dd8b3;
}

.section-title{
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
}
#previewContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}
.preview-card{
    background: #1f3731;
    border-radius: 15px;
    overflow: hidden;
    transition: .3s;
}
.preview-card:hover{
    transform:translateY(-6px);
}

.preview-card img{
    width:100%;
    height:170px;
    object-fit:cover;
}

.preview-footer{
    padding:12px;
    text-align:center;
}

.remove-btn{
    margin-top:10px;
    width:100%;
    border:none;
    background:#ef4444;
    color:white;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
}

.settings{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.setting label{
    display:block;
    margin-bottom:10px;
}

.setting select{
    width:100%;
    padding:12px;
    background:#1f2937;
    color:white;
    border:1px solid #374151;
    border-radius:10px;
}

.convert-area{
    text-align:center;
}

#convertBtn{
    background:#10b981;
    color:white;
    border:none;
    padding:18px 40px;
    font-size:18px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}

#convertBtn:hover{
    background:#059669;
    transform:translateY(-3px);
}

@media(max-width:768px){

.hero h1{
    font-size:32px;
}

.drop-area{
    padding:40px 15px;
}

}
.drag-active{
    background:#175442;
    border-color:#25eba2;
    transform:scale(1.02);
}
.preview-card{
    cursor:grab;
}

.preview-card:active{
    cursor:grabbing;
}

.dragging{
    opacity:.5;
    transform:rotate(2deg);
}